NODE_ENV=production
PORT=3000

FRONTEND_URL=https://enrollsched.vercel.app

SESSION_SECRET=enrollsched_session_secret

DB_HOST=mysql-enrollsched.aivencloud.com
DB_USER=avnadmin
DB_PASSWORD=aiven_mysql_password
DB_NAME=enrollsched_db
DB_PORT=12345

DB_SSL=true
DB_SSL_REJECT_UNAUTHORIZED=true
DB_SSL_CA="-----BEGIN CERTIFICATE-----\nAIVEN_CA_CERTIFICATE\n-----END CERTIFICATE-----"

# all of this are placeholders btw
